<p id="notice"><%= notice %></p>

<h1>Product Requests</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Product</th>
      <th>Pending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_requests.each do |product_request| %>
      <tr>
        <td><%= product_request.profile %></td>
        <td><%= product_request.product %></td>
        <td><%= product_request.pending %></td>
        <td><%= link_to 'Show', product_request %></td>
        <td><%= link_to 'Edit', edit_product_request_path(product_request) %></td>
        <td><%= link_to 'Destroy', product_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Request', new_product_request_path %>
